{% extends "rest_framework/base.html" %}

{% block script %}
{{ block.super }}
{% if user.is_authenticated %}
<script type="text/javascript">

var loginDuration_InMinutes = 15;
var sTimeout = loginDuration_InMinutes * 60 * 1000;

setTimeout(SessionEnd, sTimeout);

function SessionEnd() {
    {% if AUTHENTICATION == "OAUTH" %}
        window.location.replace("{% url 'oauth-logout' %}?next=/api/v1/");
    {% else %}
        window.location.replace("{% url 'rest_framework:logout' %}?next=/api/v1/");
    {% endif %}
}
</script>
{% endif %}
{% endblock %}
