{% extends "rest_framework/base.html" %}
{% load rest_framework %}
{% load sensor_tags %}

{% block title %} SCOS Sensor {% endblock %}

{% block branding %}
  <span>
    <a href="" ref="nofollow" class="navbar-brand">
      SCOS Sensor <span class="version">{% sensor_version_string %}</span>
    </a>
  </span>
{% endblock %}

{% block userlinks %}
  {% if user.is_authenticated %}
    {% if user.is_staff %}
      <li><a href={% url "admin:index" %}>Configuration</a></li>
    {% endif %}
    {% optional_logout request user %}
  {% else %}
    <li><a href={% url 'login' %}>Log in</a></li>
  {% endif %}
{% endblock %}
