exclude: src/static/.+|.+\.pem|.+\.crt|.vscode/.+|LICENSE.md
default_language_version:
  python: python3.8
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-ast
        types: [file, python]
      - id: check-case-conflict
      - id: check-docstring-first
        types: [file, python]
      - id: check-merge-conflict
      - id: check-yaml
        types: [file, yaml]
      - id: debug-statements
        types: [file, python]
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.1
    hooks:
      - id: pyupgrade
        args: ["--py3-plus"]
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        name: isort (python)
        types: [file, python]
        args: ["--profile", "black", "--filter-files", "--gitignore"]
  - repo: https://github.com/psf/black
    rev: 22.12.0
    hooks:
      - id: black
        types: [file, python]
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.33.0
    hooks:
      - id: markdownlint
        types: [file, markdown]
        exclude: GitHubRepoPublicReleaseApproval.md|LICENSE.md
