version: '3'

services:
  db:
    image: postgres:11-alpine
    restart: always
    environment:
      - POSTGRES_PASSWORD
    ports:
      - '127.0.0.1:5432:5432'
    volumes:
      - ./data:/var/lib/postgresql/data

  api:
    healthcheck:
      test: test ! -e /sdr_unhealthy && test ! -e /scheduler_dead
      interval: 10s
      timeout: 3s
      retries: 1
    restart: always
    depends_on:
      - db
    labels:
      autoheal: "true"  # allow docker-autoheal to restart if unhealthy
    image: smsntia/scos-sensor:${DOCKER_TAG} # DOCKER_TAG will always be 'latest' for GitHub source
    build:
      context: .
      dockerfile: docker/Dockerfile-api
      args:
        - BASE_IMAGE
        - DOCKER_GIT_CREDENTIALS
    environment:
      - ADMIN_EMAIL
      - ADMIN_PASSWORD
      - CALLBACK_SSL_VERIFICATION
      - DEBUG=true
      - DOCKER_TAG
      - DOMAINS
      - FQDN
      - GIT_BRANCH
      - GUNICORN_LOG_LEVEL
      - IN_DOCKER=1
      - IPS
      - MAX_TASK_RESULTS
      - MOCK_RADIO
      - MOCK_RADIO_RANDOM
      - POSTGRES_PASSWORD
      - SECRET_KEY
      - SENSOR_TYPE
    expose:
      - '8000'
    volumes:
      - ${REPO_ROOT}:/opt/scos-sensor
    cap_add:
      - SYS_PTRACE
    devices:
      - /dev/bus/usb:/dev/bus/usb:rw
    extra_hosts:
      - "${MANAGER_FQDN}:${MANAGER_IP}"
    command: /entrypoints/api_entrypoint.sh

  nginx:
    image: smsntia/nginx:${DOCKER_TAG} # DOCKER_TAG will always be 'latest' for GitHub source
    restart: always
    ports:
      - '80:80'
      - '443:443'
    command: >-
      /bin/sh -c
      "envsubst '$$DOMAINS'
      < /etc/nginx/nginx.conf.template
      > /etc/nginx/conf.d/default.conf
      && exec nginx -g 'daemon off;'"
    build:
      context: .
      dockerfile: docker/Dockerfile-nginx
    volumes:
      - ./nginx/conf.template:/etc/nginx/nginx.conf.template:ro
      - ${SSL_CERT_PATH}:/etc/ssl/certs/ssl-cert.pem:ro
      - ${SSL_KEY_PATH}:/etc/ssl/private/ssl-cert.key:ro
    environment:
      - DOMAINS

  # This is a stop-gap until Docker adds the capability to restart unhealthy
  # containers natively.
  #
  # https://github.com/moby/moby/issues/28400
  # https://github.com/willfarrell/docker-autoheal
  autoheal:
    image: smsntia/autoheal:${DOCKER_TAG} # DOCKER_TAG will always be 'latest' for GitHub source
    restart: always
    depends_on:
      - api
    build:
      context: .
      dockerfile: docker/Dockerfile-autoheal
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./entrypoints/autoheal_entrypoint.sh:/entrypoints/autoheal_entrypoint.sh:ro
    command: /entrypoints/autoheal_entrypoint.sh
