# -*- sh -*-

# Copy env.template to env and modify

# https://docs.djangoproject.com/en/1.11/ref/settings/#std:setting-SECRET_KEY
# SECURITY WARNING: generate unique key with `manage.py generate_secret_key`
SECRET_KEY='!j1&*$wnrkrtc-74cc7_^#n6r3om$6s#!fy=zkd_xp(gkikl+8'

# SECURITY WARNING: don't run with debug turned on in production!
# Use either true or false
DEBUG=false

# A space-separated list of domain names and IPs
DOMAINS="$(hostname -d) $(hostname -s).local localhost"
IPS="$(hostname -I) 127.0.0.1"

# Uncomment the correct ubuntu docker image for your arch
UBUNTU_IMAGE=ubuntu
#UBUNTU_IMAGE=arm32v7/ubuntu

# Uncomment the correct nginx docker image for your arch
NGINX_IMAGE=nginx
#NGINX_IMAGE=armhf/nginx

# SECURITY WARNING: You should be using certs from a trusted authority.
#                   If you don't have any, try letsencrypt or a similar service.
# Provide the absolute path to your ssl certificate and key
SSL_CERT_PATH=/etc/ssl/certs/ssl-cert-snakeoil.pem
SSL_KEY_PATH=/etc/ssl/private/ssl-cert-snakeoil.key

if $DEBUG; then
    GUNICORN_LOG_LEVEL=debug;
else
    GUNICORN_LOG_LEVEL=info;
fi
