Django~=3.1
Pygments==2.4.2
Markdown==3.1.1
scos_actions @ git+${DOCKER_GIT_CREDENTIALS}/NTIA/scos_actions@master#egg=scos_actions
scos_usrp @ git+${DOCKER_GIT_CREDENTIALS}/NTIA/scos_usrp@generic_actions#egg=scos_usrp
coreapi==2.3.3
django-debug-toolbar==2.2
django-extensions==2.2.6
django-filter~=2.3.0
djangorestframework==3.11.1
docker-compose==1.25.4
drf-yasg==1.17.1
environs==7.3.1
gunicorn==19.9.0
jsonfield==3.1.0
numpy>=1.16.4
psycopg2-binary==2.8.5
python-dateutil==2.8.1
raven==6.10.0
requests-futures==0.9.9
requests-mock==1.6.0
#scipy==1.3.1
six==1.14.0
typing==3.6.6
# python3-gpg recommendations
hkp4py~=0.2.3.1
# requests - already installed as dependency of above package
pendulum~=2.1.2