django>=3.2.20, <4.0
djangorestframework>=3.0, <4.0
django-session-timeout>=0.1, <1.0
docker-compose>=1.0
drf-yasg>=1.0, <2.0
environs>=9.0, <10.0
filelock>=3.9, <4.0
gunicorn>=20.0, <21.0
jsonfield>=3.0, <4.0
oauthlib>=3.2.1, <4.0
packaging>=23.0, <24.0
psycopg2-binary>=2.0, <3.0
pyjwt>=2.4.0, <3.0
requests-mock>=1.0, <2.0
requests_oauthlib>=1.0, <2.0
scos_actions @ git+https://github.com/NTIA/scos-actions@sea-metadata-v0.6
scos_tekrsa @ git+https://github.com/NTIA/scos-tekrsa@sea-metadata-v0.6

# The following are sub-dependencies for which SCOS Sensor enforces a
# higher minimum patch version than the dependencies which require them.
# This is done to ensure the inclusion of specific security patches.
certifi>=2023.07.22   # CVE-2023-37920
cryptography>=41.0.3  # GHSA-jm77-qphf-c4w8
sqlparse>=0.4.4       # CVE-2023-30608

# PyYAML 5.4 is broken: https://github.com/yaml/pyyaml/issues/724
# And docker-compose requires <6.0
# This should be removed once the docker-compose dependency is dropped
pyyaml==5.3.1