django>=3.2.15, <4.0
djangorestframework>=3.0, <4.0
django-session-timeout>=0.1, <1.0
docker-compose>=1.0, <2.0
drf-yasg>=1.0, <2.0
environs>=9.0, <10.0
gunicorn>=20.0, <21.0
jsonfield>=3.0, <4.0
oauthlib>=3.2.1, <4.0
psycopg2-binary>=2.0, <3.0
pyjwt>=2.4.0, <3.0
requests-mock>=1.0, <2.0
requests_oauthlib>=1.0, <2.0
scos_actions @ git+https://github.com/NTIA/scos-actions@5.0.0
scos_usrp @ git+https://github.com/NTIA/scos-usrp@scos-actions-health
